<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<title>Demo HTML</title>
	<link href="../css/bootstrap.css" rel="stylesheet" media="screen">
    </head>
	<form action="http://www.google.com" method="get" class="form-search">
	    <input type="text" class="input-medium search-query">
	    <button type="submit" class="btn">search</button>
	    <select multiple="multiple">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
	    </select>
	</form>

	<form>
	    <fieldset>
		<legend>Legend</legend>
		<label>label name</label>
		<input type="text" placeholder="type something...">
		<span class="help-block">example help block here<span>
		<label class="checkbox">
		    <input type="checkbox">check me out
		</label>
		<button type="submit" class="btn">submit</button>
	    </fieldset>
	</form>
    <body>
    </body>
</html>
